@import "tailwindcss";

@font-face {
  font-family: "Noto Sans";
  src: url("../../public/fonts/NotoSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}


:root {
  --background: #010409;
  --foreground: #fff;
  --font-noto: Noto Sans, "sans-serif";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: Noto Sans, "sans-serif";
  --font-satoshi: Satoshi, "sans-serif";
}

html{
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto);
}
